/* Default */
:root {
    --fs-xl: clamp(2.3rem, 4vw + 1rem, 7rem);
    --fs-med: clamp(1.3rem, 2.5vw + 1rem, 3rem);
    --fs-sm: clamp(0.9rem, 0.8vw + 0.4rem, 2rem);
    --fs-xs: clamp(0.9rem, 0.6vw + 0.4rem, 1rem);
}

/* Tablets */
/* @media only screen and (min-device-width: 768px) {
    :root {
        --fs-xl: clamp(2rem, 10vw +1rem, 8rem);
        --fs-med: clamp(2rem, 10vw +1rem, 8rem);
        --fs-sm: clamp(2rem, 10vw +1rem, 8rem);
    }
} */

/* iPhone */
@media only screen and (min-device-width: 480px) {
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #000000;
}
p,
li,
a {
    font-size: 1.125em;
    line-height: 1.5em;
    margin: 0;
}
a:-webkit-any-link {
    text-decoration: none;
}
p,
li {
    color: #575757;
}

a:hover,
button:hover {
    cursor: pointer;
}
